.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 99vh;
}

.talk-to-em {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.talk-to-em h1 {
    margin: 0;
}

.buttons {
    display: flex;
    padding: 10px;
    gap: 10px;
}

.buttons p {
    padding: 0px;
}

#container { 
    display: flex;
    flex-direction: column;
    border: 1px solid black; 
    height: 600px;
    width: 600px;
}

.row { 
    display: flex;
    flex: 1;
}

.square {
    flex: 1;
    transition: 0.05s;
    user-select: none; /* stops an issue where you could drag the square instead of draw */
}

.square-border {
    border: 1px dashed black;
}

#github {
    margin: 20px;
}